
h1, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.carousel-nav-icon {
  height: 48px;
  width: 48px;
}
.carousel-nav-icon svg {
  fill: #4f5d94;
}

.card, .card-img-top {
  border-radius: 0;
}

.card-footer:hover {
  background-color: #4f5d94;
}
.card-footer:hover small.text-muted {
  color: #fff !important;
}
.card-footer:hover svg {
  fill: #fff;
}
.card-footer:last-child {
  border-radius: 0;
}

@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}